<footer class="footer">
    <div class="footer-content">
        <img class="logo" src="/LOGO.png"/>
        <div class="containerRedes">
            <h4>Sigueme en redes:</h4>
            <div class="redes">
                <a href="mailto:hellolinita@gmail.com" target="_blank"><img class="navLink" src="./whatsapp.png" alt="whatsapp"></a>
                <a href="https://github.com/LinaAlvaradoSosa" target="_blank"><img class="navLink" src="./facebook.png"  alt="facebook"></a>
                <a href="https://www.instagram.com/jaibarpinceldefuego/?igsh=MzVmdWVibHZsamw4#" target="_blank"><img class="navLink" src="./instagram.png" alt="instagram"></a>
            </div>
            <h5>Visitame:</h5>
            <p>Calle 25 numero 45 -30</p>
            <p>Caldas</p>
        </div>
        <div>
            <form class="contact-form" >
                <h2>Contacto</h2>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre"/>
                <label for="correo">Correo:</label>
                <input type="email" id="correo" name="correo"/>
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono"/>
                <label for="producto">Producto:</label>
                <input type="text" id="producto" name="producto" placeholder="Ej: retrato de persona" />
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" rows="4" ></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <p class="copyright">© 2025  PinceldeFuego. Todos los derechos reservados.</p>
</footer>