.footer {
    background-image: url('/navbar-bg.png');
    color: #fff;
    padding: 20px 10px;
    box-shadow: 4px -2px 4px rgba(148, 69, 11, 0.9);

}
p {
    cursor: pointer;
}
.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;

}
.copyright {
    text-align: center;
    font-size: 18px;
    font-family: "Dancing Script", cursive;
}
.redes {
    display: flex;
    gap: 15px;
    margin-top:  30px;

}
.containerRedes{
    width: 400px;
    display: flex;
    flex-direction: column;    
    align-items: center;     
}
.formulario {
    margin-top: 10px;
}
.logo {
    margin-top: 24% ;
    margin-left: 30%;
    /* : 260px 0 0 20px; */
    width: 320px; 
}

/* form */

.contacto {
    font-size: 20px;
    font-family: "Dancing Script", cursive;
    color: white;
    margin: 2%;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    background: rgba(97, 77, 66, 0.5);
    color: black;
    padding: 6px 6px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5a3e2b;
}
.contact-form input, .contact-form textarea {
    width: 95%;
    padding: 8px;
    margin: 3px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact-form button {
    margin-top: 3px;
    padding: 10px 20px;
    background-color: #2D1A14;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.contact-form button:hover {
    background-color:#643A21;
}
.infoFooter{
    display: flex;
    gap: 25%;
    margin: 2% 8% 2% 8%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.titulos{
    font-size: 25px;
    font-family: "Dancing Script", cursive;
}
.iconos {
    display: flex;
    gap: 22px;
    margin-bottom: 4%;
}
.navLink {
    width: 33px;
    height: 33px;
}
.iconos :hover {
    transform: translateX(4px); 
}
@media screen and (max-width: 1000px){
    .logo {
        display: none;
    }
    .contact-form{
        max-width: 600px;
    }
}
@media screen and (max-width: 679px){
    .infoFooter {
        display: flex;
        flex-direction: column; 
    }
    .contact-form{
        max-width: 600px;

    }
    
}