.navbar {
    background-image: url('/navbar-bg.png');
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100%;
}    
.logo {
    font-family: 'Playfair Display', serif;
    font-size: 29px;

}
.nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
}    
.nav-links {
    list-style: none;
    display: flex;
    gap: 33px;
}    
.nav-links a {
    text-decoration: none;
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    transition: all 0.2s ease;
}    
.nav-links :hover {
    font-weight: bold; 
    color: antiquewhite;
    transform: translateX(4px); 
}
.redes {
    display: flex;
    gap: 15px;
    margin-bottom: 8px;
    margin-right: 50px;
}
.redes :hover {
    transform: translateX(4px); 
}
.logo {
    width: 250px;
    margin-left: 50px;
}
.navLink {
    width: 32px;
    height: 32px;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 1057px) {
    .logo {
        display: none;
    }
    .hamburger {
        display: block;
        color: #fbfbfb;
        z-index: 1001;
        margin-left: 5%;
        
    }
    .nav-container {
        display: none;
        flex-direction: column !important;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(245, 240, 237, 0.9);
        width: 100%;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    .nav-container.active {
        display: flex;
    }
    .nav-links a {
        flex-direction: column !important;
        gap: 1rem;
        text-decoration: none;
        color: black;
        transition: all 0.2s ease;
    }   
    .nav-links a:hover {
        font-weight: bold; 
        color: black;
        transform: translateX(4px); 
    }
    .redes {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }
}
