<header class="navbar">
    <img class="logo" src="/LOGO.png"/>
    <div class="nav-container">
        <nav>
            <ul class="nav-links">
                <li><a class="nav-links" href="#">Inicio</a></li>
                <li><a class="nav-links" href="#">Galeria</a></li>
                <li><a class="nav-links" href="#">Artista</a></li>
                <li><a class="nav-links" href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <div class="redes">
        <a href="mailto:hellolinita@gmail.com" target="_blank"><img class="navLink" src="./whatsapp.png" alt="whatsapp"></a>
        <a href="https://github.com/LinaAlvaradoSosa" target="_blank"><img class="navLink" src="./facebook.png"  alt="facebook"></a>
        <a href="https://www.instagram.com/jaibarpinceldefuego/?igsh=MzVmdWVibHZsamw4#" target="_blank"><img class="navLink" src="./instagram.png" alt="instagram"></a>
    </div>
</header>
