<header class="navbar">
    <img class="logo" src="/LOGO.png" />
    <button class="hamburger" (click)="toggleMenu()">☰</button>
    <div class="nav-container" [ngClass]="{ 'active': menuOpen }">
        <nav>
            <ul class="nav-links">
            <li><a routerLink="/" (click)="closeMenu()">Inicio</a></li>
            <li><a routerLink="/galeria" (click)="closeMenu()">Galería</a></li>
            <li><a routerLink="/artista" (click)="closeMenu()">Artista</a></li>
            <li><a routerLink="/contacto" (click)="closeMenu()">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <div class="redes">
        <a href="mailto:hellolinita@gmail.com" target="_blank"><img class="navLink" src="./whatsapp.png" alt="whatsapp" /></a>
        <a href="https://github.com/LinaAlvaradoSosa" target="_blank"><img class="navLink" src="./facebook.png" alt="facebook" /></a>
        <a href="https://www.instagram.com/jaibarpinceldefuego" target="_blank"><img class="navLink" src="./instagram.png" alt="instagram" /></a>
    </div>
</header>