.container{
    display: flex;
    gap: 5%;
    padding: 100px 0 100px 0;
}
.tecnica {
    background-color: #F5F0ED;
}
.imagenes {
    width: 650px;
    border-radius: 8px;
}
.descrpcion {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
.nombre{
    font-size: 42px;
    font-family:  "Dancing Script", cursive;
    transition: all 0.2s ease
}
.nombre:hover {
    font-weight: bold; 
    transform: translateX(5px); 
}


/* tarjetas */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    justify-content: center;
    padding: 30px 50px 50px 90px;
}
.card {
    flex: 1 1 calc(50% - 1rem);
    max-height: 50%;
    max-width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(139, 69, 19, 0.2);
    transition: transform 0.3s ease;
}
.card img {
    object-fit: cover;
}
.card-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(245, 240, 237, 0.7);
    color: black;
    padding: 30px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card:hover .card-description {
    transform: translateY(0);
}
.tecnicas{
    background-color: #E3E3E5;
}
.catalogo{
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    padding: 50px 0 0px 90px;
    transition: all 0.2s ease
}
.catalogo:hover {
    font-weight: bold; 
    transform: translateX(5px); 
}
/* botones */

.veta {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 180px;
    height:c50px
    
}
.veta:hover {
    font-weight: bold; 
    transform: translateX(5px); 
}
@media (max-width: 1398px) {
    .imagenes{
        margin-top: 10%;
    }
}

@media (max-width: 1199px) {
    .imagenes{
        width: 580px;
        margin-top: 10%;
    }
    .descrpcion {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 16px;
    }
    .nombre{
        font-size: 36px;
    } 
}
@media (max-width: 991px) {
    .container{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px; 
    } 
    .imagenes {
        margin: 0 10% 8% 10%;
        padding-top: 0px;
        padding-bottom: 0px; 
    }
} 
@media (max-width: 767px){
    .imagenes{
        width: 480px
    }
    .catalogo{
        padding-left: 60px;
    }
}
@media (max-width: 699px){
    .imagenes{
        margin: 0 4% 8% 4%;
    }
}
@media (max-width: 573px){
    .pirograbado{
        margin: 0 4% 0.2% 4%;
    }
}
@media (max-width: 520px){
    .imagenes{
        width: 450px;
    }
}
@media (max-width: 480px){
    .imagenes{
        width: 380px;
    }
}
@media (max-width: 420px){
    .imagenes{
        width: 350px;
    }
}
@media (max-width: 420px){
    .imagenes{
        width: 330px;
    }
}
@media (max-width: 412px){
    .imagenes{
        width: 330px;
        margin: 0 2% 8% 9%; ;
    }
}

@media (max-width: 1000px) {
    .cards {
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }
    .card {
        flex: 0 0 90%;
        max-width: 90%;
    }
    .catalogo{
        padding: 30px 0 0px 120px;
    }
}
@media (max-width: 1050px) {
    .card-description{
        padding: 20px;
    }
}
@media (max-width: 937px) {
    .catalogo{
        padding: 30px 0 0px 100px;
    }
}
@media (max-width: 902px) {
    .catalogo{
        padding: 30px 0 0px 90px;
    }
}
@media (max-width: 869px) {
    .catalogo{
        padding: 30px 0 0px 70px;
    }
}
@media (max-width: 835px) {
    .catalogo{
        padding: 30px 0 0px 55px;
    }
}
@media (max-width: 734px) {
    .catalogo{
        padding: 30px 0 0px 90px;
    }
}
@media (max-width: 734px) {
    .catalogo{
        padding: 30px 0 0px 80px;
    }
}
@media (max-width: 666px) {
    .catalogo{
        padding: 30px 0 0px 68px;
    }
}
@media (max-width: 626px) {
    .catalogo{
        padding: 30px 0 0px 48px;
    }
}
@media (max-width: 600px) {
    .catalogo{
        padding: 30px 0 0px 30px;
    }
}
@media (max-width: 500px) {
    .catalogo{
        padding: 30px 0 0px 20px;
    }
}