<div class="formulario"> 
    <form [formGroup]="formularioContacto" class="contact-form" >
        <p class="respuesta">Te responderé lo más pronto posible</p>
        <label for="nombre">Nombre</label>
        <input formControlName="nombre"  type="text" id="nombre" name="nombre"/>
        <label for="correo">Correo</label>
        <input formControlName="correo" type="email" id="correo" name="correo"/>
        <label for="telefono">Celular</label>
        <input formControlName="celular" type="tel" id="telefono" name="telefono"/>
        <label for="producto">Producto de interés</label>
        <input formControlName="tipo" type="text" id="producto" name="producto" placeholder="Producto: Ej. Retrato de persona"/>
        <label for="mensaje">Mensaje</label>
        <textarea formControlName="mensaje" id="mensaje" name="mensaje" rows="4"></textarea>
        <button (click)="sendMessage()" type="submit">Enviar</button>
    </form>
    <div class="contenedor">
        <p class="info">Tambien me puedes contactar al:</p>
        <p class="info">Correo:<a href="mailto:info&#64;trazosdefuego.com"> info&#64;trazosdefuego.com</a></p>
        <p class="info">Celular: (+57) 324 56 74 34</p>
        <p class="info">Calle 24 número 45-89 Paipa,Boyaca</p>
    </div>   
</div>

